body{
    background-color:aquamarine;
}

div>p{
    font-family: cursive;

}

#header>p{
    font-family: cursive;
    color: red;
    font-size: 24px;
}

#header{
    border: 1px solid black;
    text-align:center;
    background-color:bisque;
}