body{
    background-color:palegoldenrod;
}

.nav-links{
    /* border: 1px solid red; */
    list-style:none;
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:600px;
    font-size:20px;
    

}

.nav{
    /* border: 1px solid purple; */
    display:flex;
    height: 65px;
    align-items:center;
    justify-content:space-between;
    padding:0px 15px;
    background-color:gray;
    
    
}

.nav-title{
    /* border: 1px solid green; */
    margin-right:200px;
    color:white;
    font-size:25px;
}
.nav-links a{
    text-decoration:none;
    color:white;
    font-size:15px;
}
.btn{
    background-color:deepskyblue;
    box-shadow: 3px 3px 0px black;
    color:white;
    border: 2px solid black;
}